
HUGGINGFACE_API_KEY=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


MONGODB_URI=mongodb+srv://ajinkya2_71:cloud.mongodb.com@cluster0.yxd2z3x.mongodb.net


CLOUDINARY_CLOUD_NAME=dxbvr7jqk
CLOUDINARY_API_KEY=198327744829261
CLOUDINARY_API_SECRET=45VBcV7w2t7mQwi_J203WIGbU_Y

# Server Port (Optional, defaults to 5000)
PORT=5000
